#commenting-batch-actions button {
    margin: 0 1em 0 0;
}

button#batch-approve, button#batch-report-spam, button#batch-flag {
    margin-right: 0;
}

li.delete {
    float: left;
    margin-right: 5px;
}

form#comment-form {
    clear:both;
}

.comment td {
    vertical-align: top;
    line-height: 1.5;
}

.comment td p:first-child {
    margin-top: 0;
}

.action-links span {
    display: none;
}

.action span {
    text-decoration: underline;
}

.flagged .flag-action .red,
.spam .spam-action .red,
.not-approved .approval-action .red,
.not-flagged .flag-action .green,
.not-spam .spam-action .green,
.approved .approval-action .green {
    display: inline-block;
}

.comment .status span:before {
    display: inline-block;
    vertical-align: middle;
    margin-right: .25rem;
}

.comment .status .green:before {
    content: url('../../../../../application/views/scripts/images/silk-icons/tick.png');
}

.comment .status .red:before {
    content: url('../../../../../application/views/scripts/images/silk-icons/exclamation.png');
}

.comment-body {
    margin-bottom: .5rem;
}

.comment-body:not(.active) {
    display: none;
}

.commenting.browse table th:nth-child(2) {
    width: 60%;
}