#commenting-batch-actions {
    float: left;
    margin: 0 5px 2em 0;
}

#commenting-batch-actions button {
    margin: 0 1em 0 0;
}

button#batch-approve, button#batch-report-spam, button#batch-flag {
    margin-right: 0;
}

li.delete {
    float: left;
    margin-right: 5px;
}

form#comment-form {
    clear:both;
}

div.comment {
    overflow: hidden;
    margin: 2em 0;
}

div.comment-author {
    float: left;
    margin: 6px;
    width: 80px;
}

.comment-author {
    display: block;
    font-weight: bold;
}

.comment-info {
    display: block;
    font-size: 0.857em;
}

input[type="checkbox"].batch-select-comment {
    float: left;
    margin-top: 1em;
}

div.comment-body {
    margin-left: 2em;
}

div.comment-body :last-child {
    margin-bottom: 0;
}

.comment-meta {
    margin: 0 0 0 2em;
}

ul.comment-admin-menu {
    padding-left: 0;
    margin-top: 0;
}

ul.comment-admin-menu li {
    margin-bottom: .5em;
    padding-left: 10px;
    list-style: none;
}

span.status {
    padding-left: 20px;
    margin-right: 3px;
    background-repeat: no-repeat;
}

span.approved, span.ham, span.not-flagged {
    background-image: url('../../../../../application/views/scripts/images/silk-icons/tick.png');
}

span.unapproved, span.spam, span.flagged {
    background-image: url('../../../../../application/views/scripts/images/silk-icons/exclamation.png');
}

.action {
    color: #338899;
    cursor: pointer;
    float: right;
}
