@CHARSET "UTF-8";

form#comment-form {
	clear:both;	
}

div.comments {
	
}

div.comment {
	margin-left: 12px;
	margin-top: 3px;
	margin-bottom: 6px;
	clear: both;
}

div.comment-author {
	float: left;	
	margin: 6px;
}

div.comment-body {
	font-size: 1.5em;	
}

div.comment-body p {
	font-size: 1em;	
}

p.comment-reply {
	cursor: pointer;	
}

p.comment-author-name {
	
}

